body{
  background-color: #ff1d58;
}

h1 {
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.App {
  text-align: center;
}
.input-warpper input{
  padding:12PX 50px  ;  
  border: 1px solid #fff;
  border-radius: 4px;
  outline: none;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.2rem;

  /* box-shadow: 50px rebeccapurple; */
}

.add-btn {
  padding:12px 40px;
  font-size: 17px;
  font-weight: 400;
  border-radius: 4px; 
  outline: none;
  background-color: #fff;
  border: 1px solid #fff;
  margin-left: 20px;
  cursor: pointer;
  letter-spacing: 0.2rem;

}
.container{
  display: flex;
  justify-content: center;
  padding: 24px 24px 0;
 
}
.todo-list{
  list-style: none;
}
.todo li {
  width: 450px;
  padding: 0.85em;
  text-align: left;
  margin-bottom: 0.5rem;
  background: #494847;
  letter-spacing: 0.02rem;
  transition: all 0.3s ease-out;
  border-left: 5px solid #cf972e;
}
.delete-button {
 
  float: right;
  background-color: #ff1d58;
  border: #ff1d58;
  border-radius: 2px;
}
.empty {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2rem;
}



